.content { 
  width: 500px;
  height: auto;
  padding: 50px;
  margin: 40px auto;
  text-align: center;
  border-radius: 10px;
  background: url(/assets/bg.jpg);
}

label {
  color: wheat;
}

h1 {
  color: #595959;
}
.progress-wrapper {
  font-size: 20px;
  margin: 20px auto;
  position: relative;

  .text {
    top: 50%;
    left: 50%;
    bottom: auto;
    line-height: 1;
    font-size: 26px;
    color: #00cc00;
    font-weight: bold;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
  }
}

round-progress { 
  margin: auto;
}

.controls-wrapper {
  margin: auto;
  text-align: center;
}

.input { 
  margin: auto;
  display: block;
  max-width: 250px;
  text-align: center;
  margin-bottom: 10px;
}