/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bulma/bulma';

// body {
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // width: 500px;
//     // height: 300px;
//     background: #000000;
//     color: white;
// }

// .content { 
//     color: white;
//     h1,h2,h3,h4,h5 {
//         color: white;
//     }
// }